<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Clock</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h2>Simple Calculator.</h2>
        <div id="result">
            <p id="status"></p>
        </div>
        <form id="check-form" type="submit">
            <h2>Simple Calculator</h2>
            <label for="num1">Enter first number:</label>
            <input type="number" id="num1">

            <label for="num2">Enter second number:</label>
            <input type="number" id="num2">

            <select id="operation">
            <option value="add">add</option>
            <option value="subtract">subtract</option>
            <option value="divide">divide</option>
            <option value="multiply">multiply</option>
            </select>

            <input type="submit" id="check" value="Calculate">
        </form>
        <script src="script.js"></script>
    </body>